<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text=" ${visitor}" />
<p th:text="'Name : ' + ${cvname}" />
<p th:text="'Birthdate    : ' + ${birthdate}" />
<p th:text="'Address      : ' + ${address}" />
<p th:text="'Education    : ' + ${education}" />
<p th:text="'Description  : ' + ${description}" />

</body>
</html>
